

/* ==========================================================================
   CCE 44's custom styles
   ========================================================================== */


/* Lets add an arrow after "Read more" link */
a.read-more:after {
    display: inline-block;
    padding-left: 0.3em; /* Add a little space between text and arrow */
    content: "\25BA"; /* Unicode hex for right arrow */
}  














